// left-side widget container
.container {
    display: flex;
    position: absolute;
    height: 100%;
    margin-bottom: 0;
    margin-left: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: fit-content;
  }