$container-height: 5000px;
$cloud-size: 22rem;
$cloud-height: 15rem;
$btn-transition: 0.1s ease-in-out;

// Scrollable screen
.scroll-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  position: absolute;
}

// Wallpaper which moves vertically
.background-image {
  position: absolute;
  width: 100%;
  height: $container-height;
  background: {
    image: url("../../assets/images/art.png");
    repeat: no-repeat;
    size: contain;
    position: center;
  }
  z-index: -1;
}

// Main grid layout
.grid-container {
  position: absolute;
  height: $container-height;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: end;
  width: auto;
  overflow: scroll;
  align-items: end;
  left: 10rem;
  z-index: 1;
}

.grid-spacing {
  width: 100%;
  height: 6rem;
}

.grid-column {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: auto;
  padding: 2rem 5rem;
  align-self: self-end;
}

// Clouds & Tasks
.cloud {
  width: $cloud-size;
  height: $cloud-height;
  background: {
    image: url('../../assets/images/cloud.png');
    repeat: no-repeat;
    size: contain;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  z-index: 1;

  &-task {
    position: relative;
    width: 68%;
    height: 55%;
    font-size: 1rem;
    line-height: 1.2rem;
    text-align: center;
    word-wrap: break-word;
    overflow-y: scroll;
    padding: 0.5rem 0.5rem;
    margin-bottom: 0.1rem;
    top: 1.7rem;
    mask-image: linear-gradient(to bottom, transparent 0%, black 10%, black 85%, transparent 100%);
  }

  &-date {
    position: relative;
    width: 68%;
    height: 1.3rem;
    font-size: 0.75rem;
    text-align: right;
    text-shadow: 0px 0.5px 0px;
    padding-right: 0.8rem;
    top: 1.5rem;
  }
}

.btn-remove {
  position: relative;
  cursor: pointer;
  font-size: 25px;
  top: 0.9rem;
  transition: $btn-transition;

  &:hover {
    font-size: 30px;
  }
}

// Hiding the scrollbars across the page
.scroll-container,.grid-container {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  scroll-behavior: smooth;
}