<div class="scroll-container" #scrollContainer>
    <img class="background-image" src="../../assets/test.jpg" alt="Background Image">
  <div class="grid-container" #gridContainer>
    <div class="grid-column" #gridColumn>
      <div *ngFor="let todo of todoArrayLeft" class="cloud">
        <div class="cloud-task">
          <div [innerHTML]="todo.todo | newLine"></div>
        </div>
        <div class="cloud-date">
          <span>{{ todo.date }}</span>
        </div>
        <fa-icon [icon]="minusIcon" (click)="removeCloud(todo)" class="btn-remove"></fa-icon>
      </div>
    </div>
    <div class="grid-column" #gridColumn>
      <div class="grid-spacing"></div>
      <div *ngFor="let todo of todoArrayRight" class="cloud">
        <div class="cloud-task">
          <div [innerHTML]="todo.todo | newLine"></div>
        </div>
        <div class="cloud-date">
          <span>{{ todo.date }}</span>
        </div>
        <fa-icon [icon]="minusIcon" (click)="removeCloud(todo)" class="btn-remove"></fa-icon>
      </div>
    </div>
  </div>
</div>