/* ----- SIDEBAR ----- */
.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    background-color: transparent;
    padding: 25px;
    color: white;
  }

  .sidebar-icons {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 10px;
  }