<div class="scroll-container" #scrollContainer>
    <img class="background-image" src="../../assets/test.jpg" alt="Background Image">
  <div class="grid-container" #gridContainer>
      <div class="grid-column">
        <div *ngFor="let todo of testArray" class="cloud">
          <div class="cloud-task">
            <span>{{ todo.todo }}</span>
          </div>
          <div class="cloud-date">
            <span>{{ todo.date }}</span>
          </div>
        </div>
      </div>
      <div class="grid-column">
        <div *ngFor="let todo of testArray" class="cloud">
          <div class="cloud-task">
            <span>{{ todo.todo }}</span>
          </div>
          <div class="cloud-date">
            <span>{{ todo.date }}</span>
          </div>
        </div>
      </div>
    </div>
</div>