@import url('https://fonts.cdnfonts.com/css/margarine');

* {
    font-family: Margarine;
}

/* ----- CONTAINER ----- */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  height: 32rem;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
  background: #FFDFD8;
  box-shadow: 0px 14px 8px 4px rgba(0, 0, 0, 0.45);
}

.title{
    position: absolute;
    top: 4.2rem;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
}

fa-icon {
    position: absolute;
    top: 25px;
    right: 25px;
    cursor: pointer;
    font-size: 25px;
}

/* ----- FORM FIELDS ----- */
.form-control{
    position: relative;
    display: flex;
    top: 2rem;
    width: 20rem;
    height: 14rem;
    padding: 1rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    border: 1px solid var(--primary-color, #7749F8);
    background: var(--default-white, #FFF);
    box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, 0.25) inset;
    resize: none;
}

textarea{
    position: relative;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    word-break: break-all;
}

.dateTitle {
    position: absolute;
    display: flex;
    left: 50%;
    margin-top: 1rem;
    transform: translate(-50%);
}

input[type="date"]{
    position: relative;
    display: flex;
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: white;
    top: 3rem;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    border: none;
    outline: none;
    border-radius: 1rem;
}

textarea::placeholder{
    font-size: 0.8rem;
}

.btn{
    position: relative;
    display: flex;
    margin: 0 auto;
    top: 4.5rem;
    background-color: #198754;
    border-color: black;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 1);
}

.btn:active{
    position: relative;
    display: flex;
    margin: 0 auto;
    top: 4.5rem;
    background-color: #198754;
    border-color: black;
    -webkit-transform: translateY(+1px);
	transform: translateY(+1px);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.3);
}

.closed {
    display: none;
  }