/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.cdnfonts.com/css/margarine');

html {
    overflow: hidden;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

* {
  font-family: Margarine;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 2; /* To ensure it is on top of other content */
}

::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 0 !important;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track,
::-webkit-scrollbar-button {
  background-color: transparent;
  visibility: hidden;
  width: 0;
  display: none;
}